.app{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
}

.dateInput4to6{
  margin: 5px 0;
}

.submit4to6{
  margin: 30px;
}

.btnForm7{
  width: 50px;
  height: 50px;
}