:root{
  --sizeX:60vw;
}

body{
  background-color: rgb(223, 222, 222);
}
.app{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
}

.dateInput4to6{
  margin: 5px 0;
}

.submit4to6{
  margin: 30px;
}

.btnForm7{
  width: 50px;
  height: 50px;
}

.ABForm7{
  display: flex;
  width: calc(60vw + 90px);
  font-size:3em;
  justify-content:space-between;
  margin: 0 auto;
}

.divForm7{
  height: 50px;
  display: flex;
  justify-content: center;
}

.pForm7{
  width: var(--sizeX);
  display: flex;
  align-items: center;
  justify-content: center;
}